java -jar templates/swagger/openapi-generator-cli.jar generate -i {var $application.getOutputDir()}/com/{var $application.getName()}/{var $application.getSqlSchema()}/yaml/{var $package.getPackageName()}.yaml -l java -c templates/swagger/config.json --api-package com.{var $application.getName()}.{var $application.getSqlSchema()}.api --invoker-package org.openapitools.client -o {var $application.getOutputDir()}/com/{var $application.getName()}/{var $application.getSqlSchema()}/api